#header
  %h1= @title
  %p
    Regarding the
    %a{:href => wink.writings_url} Writings
    of
    <a href='/'>
    = wink.author
    </a>

#comments
  %ol.comments
    - @comments.each do |@comment|
      %li{ :id => @comment.id, :class => "comment #{@comment.spam? ? 'spam' : 'ham'} container" }
        %h3
          -if @comment.author_link?
            %a.commentor{ :href => h(@comment.author_link) }= h(@comment.author)
          -else
            %span.commentor= h(@comment.author)
          &nbsp;on&nbsp;
          = entry_ref(@comment.entry)
        %div.body
          ~ comment_body
        -if admin?
          %form{:action=>"/comments/#{@comment.id}",:style=>'display:none'}
            %div
              ~ textarea(:body, @comment.body, :rows => 5)
              %input{:type=>'submit',:value=>'Save'}
        %p.comment-meta
          = @comment.created_at.strftime("%a, %b %d, %Y")
          at
          = @comment.created_at.strftime("%I:%M %p")

          -if admin?
            %a{:href => "/comments/#{@comment.id}", :class => 'edit' }Edit
            |
            %a{:href => "/comments/#{@comment.id}", :rel => 'delete' }Delete
            |
          %a{:href => entry_url(@comment.entry) + "#comment-#{@comment.id}"}#
