<!DOCTYPE html>
%html{ :lang => 'en' }

  %head
    <meta http-equiv='Content-Type' content='text/html;charset=utf-8'>
    <meta http-equiv='X-UA-Compatible' content='YOUR MOM'>
    %title= (h(@title) || wink.author)
    = feed '/feed',          "Writings"
    = feed wink.linkings_url + 'feed', "Linkings"
    = feed '/comments/feed', "Comments (Experimental)"
    = css "wink"
    - if development?
      = script 'jquery-1.2.3'
    - else
      = script 'http://code.jquery.com/jquery-1.2.3.js'
    = script 'wink'
    = script 'admin' if admin?

    <link rel="icon" href="/favicon.png" type="image/png">

  %body{ :id => @page_id }
    #container
      ~ yield
      #footer
        %p.rights
          = "Copyright &copy; #{[wink.begin_date, Date.today.year].uniq.join('-')} by"
          %a{ :href => wink.url }= wink.author
          (
          %a{:href=>"http://creativecommons.org/licenses/by-sa/2.5/", :rel => "license"}license information
          )

-# vim: sts=2 sw=2 ts=2 expandtab
